In [124]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("data/vehicles/vehicles_messy.csv")
df.head()

In [83]:
df.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [84]:
df.shape

(37843, 83)

In [85]:
df.drop_duplicates().shape

(37843, 83)

In [86]:
for col, numnulls in df.isnull().sum().items():
    if numnulls > 0:
        print(f"{col} {numnulls}")

cylinders 123
displ 120
drive 1189
eng_dscr 15403
trany 11
guzzler 35562
trans_dscr 22796
tCharger 32657
sCharger 37177
atvType 34771
fuelType2 36435
rangeA 36440
evMotor 37281
mfrCode 30818
c240Dscr 37806
c240bDscr 37807
startStop 31705

In [87]:
nullvals = df.isnull().sum()[df.isnull().sum() > 0]
nullvals

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [88]:
df.cylinders.isnull().sum()

123

In [89]:
df["cylinders"].fillna(0).isnull().sum()

0

In [90]:
df.mfrCode = df.mfrCode.fillna(0)

In [91]:
df

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [92]:
df = df.sort_values("barrels08", ascending=False).reset_index(drop=True)

In [93]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,47.087143,0.0,0.0,0.0,6,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,47.087143,0.0,0.0,0.0,6,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,47.087143,0.0,0.0,0.0,6,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,47.087143,0.0,0.0,0.0,6,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,47.087143,0.0,0.0,0.0,6,0.0,0,0.0,0.0,0.0,...,0,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [94]:
df.isnull().sum().sort_values(ascending=False).head(10)

c240bDscr    37807
c240Dscr     37806
evMotor      37281
sCharger     37177
rangeA       36440
fuelType2    36435
guzzler      35562
atvType      34771
tCharger     32657
startStop    31705
dtype: int64

In [95]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [96]:
x = { 
    'make':'Manufacturer',
    'displ':'Displacement',
}
df = df.rename(columns=x, errors="raise")

In [97]:
make_displacement_df = df[["Manufacturer","Displacement"]]
make_displacement_df

      Manufacturer  Displacement
0      Lamborghini           5.2
1      Lamborghini           5.2
2      Lamborghini           5.2
3      Lamborghini           5.2
4      Lamborghini           5.2
...            ...           ...
37838        Honda           1.8
37839        Honda           1.8
37840        Honda           1.8
37841        Honda           1.8
37842        Honda           1.8

[37843 rows x 2 columns]

In [98]:
# Ordena las columnas alfabÃ©ticamente
df = df[sorted(df.columns)]

In [101]:
df.cylinders

0        12.0
1        12.0
2        12.0
3        12.0
4        12.0
         ...
37838     4.0
37839     4.0
37840     4.0
37841     4.0
37842     4.0
Name: cylinders, Length: 37843, dtype: float64

In [102]:
df.dtypes

Displacement    float64
Manufacturer     object
UCity           float64
UCityA          float64
UHighway        float64
                 ...
tCharger         object
trans_dscr       object
trany            object
year              int64
youSaveSpend      int64
Length: 83, dtype: object

In [107]:
df.cylinders = df.cylinders.fillna(0).astype("int")

In [110]:
e = "cylin" + "ders"
df[e].sum()

216437

In [112]:
df[["Displacement","Manufacturer"]]

       Displacement Manufacturer
0               5.2  Lamborghini
1               5.2  Lamborghini
2               5.2  Lamborghini
3               5.2  Lamborghini
4               5.2  Lamborghini
...             ...          ...
37838           1.8        Honda
37839           1.8        Honda
37840           1.8        Honda
37841           1.8        Honda
37842           1.8        Honda

[37843 rows x 2 columns]

In [118]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Displacement,37723.0,3.318180,1.361399,0.00,2.20000,3.000000,4.300000,8.400000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100
UCityA,37843.0,0.652380,5.284547,0.00,0.00000,0.000000,0.000000,181.560900
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000
UHighwayA,37843.0,0.933845,6.059456,0.00,0.00000,0.000000,0.000000,152.187800
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000
charge240b,37843.0,0.004360,0.142776,0.00,0.00000,0.000000,0.000000,7.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000
cityA08,37843.0,0.520149,3.837874,0.00,0.00000,0.000000,0.000000,127.000000
cityA08U,37843.0,0.327163,3.542596,0.00,0.00000,0.000000,0.000000,127.093000
cityCD,37843.0,0.000406,0.039918,0.00,0.00000,0.000000,0.000000,5.350000
cityE,37843.0,0.184790,2.904558,0.00,0.00000,0.000000,0.000000,122.000000
cityUF,37843.0,0.000706,0.019458,0.00,0.00000,0.000000,0.000000,0.849000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000
co2A,37843.0,5.349919,55.539497,-1.00,-1.00000,-1.000000,-1.000000,719.000000
co2TailpipeAGpm,37843.0,17.771433,94.129283,0.00,0.00000,0.000000,0.000000,719.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100
combA08,37843.0,0.581191,3.966255,0.00,0.00000,0.000000,0.000000,117.000000
combA08U,37843.0,0.359027,3.589260,0.00,0.00000,0.000000,0.000000,116.936400
combE,37843.0,0.190575,2.979567,0.00,0.00000,0.000000,0.000000,121.000000
combinedCD,37843.0,0.000335,0.035284,0.00,0.00000,0.000000,0.000000,4.800000
combinedUF,37843.0,0.000691,0.019049,0.00,0.00000,0.000000,0.000000,0.834000
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000
fuelCostA08,37843.0,79.070105,417.668580,0.00,0.00000,0.000000,0.000000,3800.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000
ghgScoreA,37843.0,-0.929630,0.627565,-1.00,-1.00000,-1.000000,-1.000000,8.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000
highwayA08,37843.0,0.686891,4.308934,0.00,0.00000,0.000000,0.000000,107.000000
highwayA08U,37843.0,0.418698,3.808877,0.00,0.00000,0.000000,0.000000,106.531000
highwayCD,37843.0,0.000233,0.029564,0.00,0.00000,0.000000,0.000000,4.060000
highwayE,37843.0,0.198247,3.091862,0.00,0.00000,0.000000,0.000000,120.000000
highwayUF,37843.0,0.000673,0.018583,0.00,0.00000,0.000000,0.000000,0.813000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000
phevCity,37843.0,0.069313,1.966806,0.00,0.00000,0.000000,0.000000,97.000000
phevComb,37843.0,0.068573,1.913647,0.00,0.00000,0.000000,0.000000,88.000000
phevHwy,37843.0,0.068203,1.871986,0.00,0.00000,0.000000,0.000000,79.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000
range,37843.0,0.392675,8.251191,0.00,0.00000,0.000000,0.000000,315.000000
rangeCity,37843.0,0.352618,8.049082,0.00,0.00000,0.000000,0.000000,305.900000
rangeCityA,37843.0,0.036800,1.158270,0.00,0.00000,0.000000,0.000000,77.504000
rangeHwy,37843.0,0.343399,8.171939,0.00,0.00000,0.000000,0.000000,346.900000
rangeHwyA,37843.0,0.033475,1.032642,0.00,0.00000,0.000000,0.000000,65.632000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000

In [119]:
stats = df.describe().T
stats['IQR'] = stats['75%'] - stats['25%']
stats[["25%","75%","IQR"]]

                        25%           75%           IQR
Displacement        2.20000      4.300000      2.100000
UCity              18.00000     25.139300      7.139300
UCityA              0.00000      0.000000      0.000000
UHighway           27.10000     38.109600     11.009600
UHighwayA           0.00000      0.000000      0.000000
barrels08          14.33087     20.600625      6.269755
barrelsA08          0.00000      0.000000      0.000000
charge120           0.00000      0.000000      0.000000
charge240           0.00000      0.000000      0.000000
charge240b          0.00000      0.000000      0.000000
city08             15.00000     20.000000      5.000000
city08U             0.00000      0.000000      0.000000
cityA08             0.00000      0.000000      0.000000
cityA08U            0.00000      0.000000      0.000000
cityCD              0.00000      0.000000      0.000000
cityE               0.00000      0.000000      0.000000
cityUF              0.00000      0.000000      0.000000
co2                -1.00000     -1.000000      0.000000
co2A               -1.00000     -1.000000      0.000000
co2TailpipeAGpm     0.00000      0.000000      0.000000
co2TailpipeGpm    388.00000    555.437500    167.437500
comb08             17.00000     23.000000      6.000000
comb08U             0.00000      0.000000      0.000000
combA08             0.00000      0.000000      0.000000
combA08U            0.00000      0.000000      0.000000
combE               0.00000      0.000000      0.000000
combinedCD          0.00000      0.000000      0.000000
combinedUF          0.00000      0.000000      0.000000
cylinders           4.00000      6.000000      2.000000
engId               0.00000   4505.000000   4505.000000
feScore            -1.00000     -1.000000      0.000000
fuelCost08       1500.00000   2200.000000    700.000000
fuelCostA08         0.00000      0.000000      0.000000
ghgScore           -1.00000     -1.000000      0.000000
ghgScoreA          -1.00000     -1.000000      0.000000
highway08          20.00000     27.000000      7.000000
highway08U          0.00000      0.000000      0.000000
highwayA08          0.00000      0.000000      0.000000
highwayA08U         0.00000      0.000000      0.000000
highwayCD           0.00000      0.000000      0.000000
highwayE            0.00000      0.000000      0.000000
highwayUF           0.00000      0.000000      0.000000
hlv                 0.00000      0.000000      0.000000
hpv                 0.00000      0.000000      0.000000
id               9461.50000  28570.500000  19109.000000
lv2                 0.00000      0.000000      0.000000
lv4                 0.00000     13.000000     13.000000
phevCity            0.00000      0.000000      0.000000
phevComb            0.00000      0.000000      0.000000
phevHwy             0.00000      0.000000      0.000000
pv2                 0.00000      0.000000      0.000000
pv4                 0.00000     91.000000     91.000000
range               0.00000      0.000000      0.000000
rangeCity           0.00000      0.000000      0.000000
rangeCityA          0.00000      0.000000      0.000000
rangeHwy            0.00000      0.000000      0.000000
rangeHwyA           0.00000      0.000000      0.000000
year             1990.00000   2009.000000     19.000000
youSaveSpend    -4250.00000   -750.000000   3500.000000

In [121]:
df._get_numeric_data()

,Displacement,UCity,UCityA,UHighway,UHighwayA,barrels08,barrelsA08,charge120,charge240,charge240b,...,phevHwy,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,year,youSaveSpend
0,5.2,7.0000,0.0,13.00,0.0,47.087143,0.0,0.0,0.0,0.0,...,0,45,0,0,0.0,0.0,0.0,0.0,1989,-22250
1,5.2,7.0000,0.0,13.00,0.0,47.087143,0.0,0.0,0.0,0.0,...,0,45,0,0,0.0,0.0,0.0,0.0,1986,-22250
2,5.2,7.0000,0.0,13.00,0.0,47.087143,0.0,0.0,0.0,0.0,...,0,45,0,0,0.0,0.0,0.0,0.0,1988,-22250
3,5.2,7.0000,0.0,13.00,0.0,47.087143,0.0,0.0,0.0,0.0,...,0,45,0,0,0.0,0.0,0.0,0.0,1987,-22250
4,5.2,7.0000,0.0,13.00,0.0,47.087143,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1990,-22250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,1.8,31.0000,0.0,50.50,0.0,0.066429,0.0,0.0,0.0,0.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2006,1250
37839,1.8,34.4988,0.0,53.95,0.0,0.060000,0.0,0.0,0.0,0.0,...,0,0,95,0,0.0,0.0,0.0,0.0,2013,1750
37840,1.8,34.8000,0.0,53.60,0.0,0.060000,0.0,0.0,0.0,0.0,...,0,0,95,0,0.0,0.0,0.0,0.0,2012,1750
37841,1.8,34.4988,0.0,53.95,0.0,0.060000,0.0,0.0,0.0,0.0,...,0,0,95,0,0.0,0.0,0.0,0.0,2014,1750
37842,1.8,34.4988,0.0,53.95,0.0,0.060000,0.0,0.0,0.0,0.0,...,0,0,95,0,0.0,0.0,0.0,0.0,2015,1750

In [131]:
d = [3,3,3,3,3,3,3,3,3,3,6,7,8]
print(min(d),np.percentile(d,70))

3 3.0

In [133]:
low_variance = []

for col in df._get_numeric_data():
    minimum = min(df[col])
    ninety_perc = np.percentile(df[col], 90)
    if ninety_perc == minimum:
        low_variance.append((col,minimum))

low_variance

[('UCityA', 0.0),
 ('UHighwayA', 0.0),
 ('barrelsA08', 0.0),
 ('charge120', 0.0),
 ('charge240', 0.0),
 ('charge240b', 0.0),
 ('cityA08', 0),
 ('cityA08U', 0.0),
 ('cityCD', 0.0),
 ('cityE', 0.0),
 ('cityUF', 0.0),
 ('co2A', -1),
 ('co2TailpipeAGpm', 0.0),
 ('combA08', 0),
 ('combA08U', 0.0),
 ('combE', 0.0),
 ('combinedCD', 0.0),
 ('combinedUF', 0.0),
 ('fuelCostA08', 0),
 ('ghgScoreA', -1),
 ('highwayA08', 0),
 ('highwayA08U', 0.0),
 ('highwayCD', 0.0),
 ('highwayE', 0.0),
 ('highwayUF', 0.0),
 ('phevBlended', False),
 ('phevCity', 0),
 ('phevComb', 0),
 ('phevHwy', 0),
 ('range', 0),
 ('rangeCity', 0.0),
 ('rangeCityA', 0.0),
 ('rangeHwy', 0.0),
 ('rangeHwyA', 0.0)]

In [148]:
coches_caros = df[(df["Manufacturer"]== "Audi") | (df["Manufacturer"]== "Lamborghini")]

In [149]:
coches_caros[["Manufacturer","trany"]]["trany"].value_counts()

Automatic (S6)                      186
Manual 6-spd                        178
Manual 5-spd                        159
Automatic (S8)                      127
Auto(AM-S7)                          65
Automatic (S5)                       57
Automatic 5-spd                      52
Automatic 3-spd                      45
Automatic 4-spd                      43
Automatic (variable gear ratios)     38
Auto(AM-S6)                          34
Auto(AM6)                            15
Auto(AV-S8)                           9
Automatic (S7)                        7
Automatic (AV)                        4
Auto(AM7)                             3
Manual 7-spd                          2
Automatic (AM6)                       1
Name: trany, dtype: int64

In [150]:
coches_caros["trany"][coches_caros["trany"].str.startswith("Auto")] = "Automatico"
coches_caros["trany"][coches_caros["trany"].str.startswith("Manu")] = "Manual"

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [151]:
coches_caros["trany"].value_counts()

Automatico    686
Manual        339
Name: trany, dtype: int64

In [153]:
coches_caros[["Manufacturer","trany"]]

      Manufacturer       trany
0      Lamborghini      Manual
1      Lamborghini      Manual
2      Lamborghini      Manual
3      Lamborghini      Manual
4      Lamborghini      Manual
...            ...         ...
36120         Audi  Automatico
36735         Audi  Automatico
36804         Audi  Automatico
37630         Audi  Automatico
37632         Audi  Automatico

[1025 rows x 2 columns]